# Node
frontend/node_modules/
frontend/dist/
frontend/.npm/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
mlruns/

# Git
.git/
.gitignore

# Données
data/
*.csv
*.parquet
*.pkl
*.joblib

# Docs / perso
docs/
Procédure.md
pokedex_analytics_spec_v2.md
pokedex_analytics_tickets_v2.md

# Env
.env
